body { font-size: 12px; font-family: Verdana; }

#addForm #left { float: left; }
#addForm #right { float: left; }
#addForm #right ul { margin-left: 10px; }
#addForm #right li.c1 { background: #CCC; width: 30px; height: 63px; }
#addForm #right li.c2 { background: #888; width: 30px; height: 63px; }
#addForm #right li.c3 { background: #555; width: 30px; height: 63px; }
#addForm #right li.c4 { background: #000; width: 36px; height: 63px; }
#addForm ul { list-style-type: none; margin: 0; clear: both; }
#addForm li { float: left; }
#addForm li.title { margin: 5px 5px 0px 0px; }
#addForm input { border: 1px solid #000; background: none; font-size: 12px; font-family: Verdana; padding: 2px; }
#addForm textarea { border: 1px solid #000; background: none; font-size: 12px; font-family: Verdana; padding: 2px; height: 80px; width: 298px; }
#addForm #bottom { clear: both; }
#addForm .btnSubmit { border-left: 5px solid #CCC; border-top: 1px solid #CCC; border-right: 1px solid #CCC; border-bottom: 1px solid #CCC; margin-top: 2px; }

#listForm { clear: both; width: 300px; }
#listForm .title { background: #CCC; padding: 3px; }
#listForm .content { margin-top: 5px; }
#listForm #left { float: left; width: 30%; }
#listForm #right { float: left; border-left: 3px solid #C8C8C8; padding-left: 12px; height: 35px; }
#listForm #detail { clear: both; background: #F6F6F6; }
#listForm #detail #date { text-align: right; }

#pagerForm { width: 300px; margin-top: 15px; height: 30px; }
#pagerForm a { font-size: 12px; padding: 2px 5px; text-decoration: none; }
#pagerForm a:hover { background: #F5F5F5; border: 1px solid #86B9D6; text-decoration: none; }
#pagerForm .p_redirect { background:#FFFFFF; border:1px solid #DEDEB8; font-size:12px; font-weight:700; margin-right:1px; }
#pagerForm .p_curpage { background:#FFFFD9; border:1px solid #DEDEB8; color:#92A05A; font-weight:700; margin-right:1px; padding:2px 5px; }
#pagerForm .p_num { background:#FFFFFF; border:1px solid #DEDEB8; margin-right:1px; }
#pagerForm .p_info { background:#F5F5F5; border:1px solid #86B9D6; margin-right:1px; padding:2px 5px; }

#copyRightForm { clear: both; width: 300px; font-size: 9px; text-align: center; }